
<section class="hero" id="welcome-section">

  <div id="navbar-true">
      <a href="#bio">BIO</a>
      <a href="#projects">WORKS</a>
      <a href="#blog">BLOG</a>
      <a href="#footer">CONTACT</a>
  </div>

  <div id="title">
      <h1 id="name">Luis</h1>
      <h2 id="surname">Badolato</h2>
  </div>

  

  <div id="hero-btn">
      <button class="btn btn-work"><a href="#projects">WEB</a></button>
      <button class="btn btn-contact"><a href="#music">MUSIC</a></button>
  </div>

</section>

<section class="bio" id="bio">

  <div id="bio-container">
      <h3 id="slogan"> <span>Web Developer Junior </span> <br> <span class="cursive-highlight">Angular / TypeScript /  Java / <br>Spring Boot / MySQL </span></h3>
      <div class="hori-rule"></div>
      <p id="bio-paragraph">I've worked for many years as a <span class="subtle-highlight">musician and producer</span>, and I combined it with music <span class="subtle-highlight">teaching</span> in different settings. Through more than twenty years of <span class="subtle-highlight">experience</span> teaching I discovered the importance of one-to-one <span class="subtle-highlight">communication</span> to solve people needs. I like finding <span class="subtle-highlight">creative</span> solutions to problems. I've always loved <span class="subtle-highlight">technology</span> and <span class="subtle-highlight">design</span>, that's why <span class="subtle-highlight">Web Development</span> was the perfect match to dive into.
      </p>
      <p id="bio-pledge">Contact me, I hope we can work together.</p>
  </div>

</section>

<section class="web-works" id="projects">
  <h1 id="web-title">WEB IN PROGRESS</h1>
  <div id="cards-container">


    <a class="project-tile" href="https://github.com/luisbadolato/IronhackFinalProject"  target="_blank">
        <div class="card cw1">
            <div class="cw-text">
                <h3 class="card-title">Gitaristik</h3>
                <p class="card-info">Final Project for Ironhack Full Stack Web Development Bootcamp</p>
            </div>
        </div>
    </a>

    <a class="project-tile" href="https://mapas-basic-app.netlify.app/"  target="_blank">
        <div class="card cwmapas">
            <div class="cw-text">
                <h3 class="card-title">Maps App</h3>
                <p class="card-info">Basic app with different Mapbox functionalities</p>
            </div>
        </div>
    </a>

    <a class="project-tile" href="https://angular-auth-api.herokuapp.com/"  target="_blank">
        <div class="card cwlogin">
            <div class="cw-text">
                <h3 class="card-title">Login with JWT</h3>
                <p class="card-info">Login form auth using JSON Web Tokens and NodeJs backend</p>
            </div>
        </div>
    </a>

    <a class="project-tile" href="https://space-responsive-layout.netlify.app"  target="_blank">    
        <div class="card cw7">
            <div class="cw-text">
                <h3 class="card-title">Responsive Layout</h3>
                <p class="card-info">FEM Site creation exercise following a design system</p>
            </div>
        </div>
    </a>

    <a class="project-tile" href="https://codepen.io/luisbadolato/full/wvMqbyg"  target="_blank">
        <div class="card cw3">
            <div class="cw-text">
                <h3 class="card-title">Shop Example</h3>
                <p class="card-info">Custom project for the Fcc Web Certification</p>
            </div>
        </div>
    </a>    

    <a class="project-tile" href="https://codepen.io/luisbadolato/full/RwrppgW"  target="_blank">
        <div class="card cw2">
            <div class="cw-text">
                <h3 class="card-title">Survey Form</h3>
                <p class="card-info">Custom project for the Fcc Web Certification</p>
            </div>
        </div>
    </a>

      

    <!-- <a class="project-tile" href="https://codepen.io/luisbadolato/full/yLejBxL"  target="_blank">
        <div class="card cw4">
            <div class="cw-text">
                <h3 class="card-title">TV Show Cast Page</h3>
                <p class="card-info">Custom project for the Fcc Web Certification</p>
            </div>
        </div>
    </a>


    <a class="project-tile" href="https://codepen.io/luisbadolato/pen/oNgJbXj"  target="_blank">
        <div class="card cw8">
            <div class="cw-text">
                <h3 class="card-title">JS Tech Docs</h3>
                <p class="card-info">Guided project for the Fcc Web Certification</p>
            </div>
        </div>
    </a> -->

  </div>
</section>



<section class="music-works" id="music">
  
  <div id="music-section-text">
      <h2 id="music-pretitle">some of my</h2>
      <h1 id="music-title">MUSIC WORKS</h1>
  </div>
  
  <div id="cards-container">

      <a class="project-tile" href="https://www.noticiasparamunicipios.com/noticias-ocio-cultura/mostoles-amado-swing-trio-llega-a-la-finca-liana-con-su-ultimo-espectaculo-de-jazz/"  target="_blank">
          <div class="card music cm1">
              <div class="cm-text">
                  <h4 class="card-author">Amado Swing Trio</h4>
                  <h3 class="card-title">Anita o'Day Tribute</h3>
                  <p class="card-info">Small Jazz Combo created to pay homage to great jazz artists</p>
              </div>
          </div>
      </a>

      <a class="project-tile" href="https://www.youtube.com/watch?v=hz3aI9oyAXE"  target="_blank">
          <div class="card music cm2">
              <div class="cm-text">
                  <h4 class="card-author">Jordi Ballarín 5</h4>
                  <h3 class="card-title">Markis</h3>
                  <p class="card-info">Contemporary Jazz Project based in Madrid until 2014.</p>
              </div>
          </div>
      </a>

      <a class="project-tile" href="https://www.youtube.com/watch?v=0eqDmD3W3y4"  target="_blank">
          <div class="card music cm3">
              <div class="cm-text">
                  <h4 class="card-author">Luis Badolato</h4>
                  <h3 class="card-title">Lo Estoy Petando</h3>
                  <p class="card-info">Original song created around the Video-Song format</p>
              </div>
          </div>
      </a>    


      <a class="project-tile" href="https://www.youtube.com/watch?v=5Mx2RucbGr8"  target="_blank">
          <div class="card music cm4">
              <div class="cm-text">
                  <h4 class="card-author">Varias Artistas</h4>
                  <h3 class="card-title">¿Y si fueran ellas?</h3>
                  <p class="card-info">Recording of all electric and acoustic guitars</p>
              </div>
          </div>
      </a>

      <a class="project-tile" href="https://www.youtube.com/watch?v=9k2xN5U0B1Y"  target="_blank">
          <div class="card music cm5">
              <div class="cm-text">
                  <h4 class="card-author">Kiko Gaviño</h4>
                  <h3 class="card-title">Cosas Mías</h3>
                  <p class="card-info">Co-arranger and recording of all electric and acoustic guitars</p>
              </div>
          </div>
      </a>

      <a class="project-tile" href="https://www.youtube.com/watch?v=0SDW_C9r-jE"  target="_blank">
          <div class="card music cm6">
              <div class="cm-text">
                  <h4 class="card-author">María Villalón</h4>
                  <h3 class="card-title">Historias de una cantonta</h3>
                  <p class="card-info">Recording of all electric and acoustic guitars</p>
              </div>
          </div>
      </a>
  </div>
</section>




<section class="blog" id="blog">
  
  <div id="cta-blog">
      <h2 id="recent">RECENT BLOG POST ON</h2>
      <h1 id="logo-gitariste"><a href="#" target="_blank">GITARISTS</a></h1>
  </div>

  <div id="blog-post">
      <h2>Acordes Disminuídos y Semidisminuídos</h2>
      <div id="hr-blog"></div>
      <p>Hay temas en la vida para los cuales los músicos somos gente tranquila, con capacidad para ver los dos lados del debate y comprender el porqué de ambas posiciones [...]</p>
      <p>Por un lado tenemos los acordes disminuídos, cuya fórmula triádica es 1 b3 b5. Por otro lado la problemática con estos acordes surge en el momento de formar sus cuatriadas, ya que la "Triada Disminuída" que nos aparece como último acorde diatónico de la Escala Mayor no pasa a ser "Cuatriada Disminuída", sino "Semidisminuída"</p>
      <p>Tenemos el oído tan acostumbrado a oir el concepto "Acorde Dismminuído" por todos lados, que al encontrarnos la "Triada Disminuída" en la Escala Mayor, acto seguido suponemos que...</p>
      <h4><a href="#">Read More...</a></h4>
  </div>
</section>

<footer class="footer" id="footer">
  <div id="contact">
      <p id="contact-text">Want to talk?<span class="hilite">Contact Me!</span></p>
      <p><i class="fas fa-phone"></i><span class="hilite">+34 685 834 074</span></p>
      <p><i class="fas fa-envelope fa-lg"></i> <a href="mailto:luisbadolato@gmail.com"><span class="hilite">luisbadolato@gmail.com</span></a></p>
  </div>
  <div id="links">
      <a href="http://www.twitter.com"><i class="fab fa-twitter-square"></i></a>
      <a href="http://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
      <a href="http://www.instagram.com"><i class="fab fa-instagram-square"></i></a>
      <a id="profile-link" href="https://www.freecodecamp.org/luisbadolato"><i class="fab fa-free-code-camp"></i></a>

  </div>

  <div id="copyright">All work <i class="far fa-copyright fa-sm"></i> Luis Badolato 2020 · All image rights owned by their respective authors.</div>
</footer>
